.first {
   background: url("img/bg/bg01.png") center center no-repeat;
   background-size: cover;
   color: #fff;
   background-attachment: fixed;
}
.navbar {
   margin-top: 30px;
   font-family: TTNorms-Regular;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 28px;
   color: #fff;
   background-color: transparent;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start !important;
   justify-content: space-between;
}
.navbar a {
   display: inline-block;
   color: #fff !important;
   text-decoration: none !important;
   cursor: pointer;
   position: relative;
}
.navbar a:after {
   margin-top: 27px;
   background-color: #fff;
   display: block;
   content: "";
   height: 2px;
   width: 0%;
   left: 50%;
   position: absolute;
   transition: width 0.3s ease-in-out;
   transform: translateX(-50%);
}
.navbar a:hover:after,
.navbar a:focus:after {
   width: 100%;
}

.navbar .vector {
   background-color: #fff;
   width: 0px;
   height: 120px;
   padding-top: 96px;
   border: 1px solid #fff;
}
.navbar .vector::after {
   content: "01";
   padding-left: 34px;
}
.lang {
   margin-top: 50px;
}
.navbar__side {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-end !important;
}
.navbar__menu {
   width: 100%;
   opacity: 0;
   transition: 0.5s ease-in-out;
}
.open {
   transition: 0.5s ease-in-out;
   opacity: 1;
}
.burger {
   cursor: pointer;
   width: 100%;
}
.lines {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-end;
}
.burger .lines .line1,
.line2,
.line3 {
   margin: 6px 0;
   transition: 0.3s;
}
.burger .line1 {
   background-color: #fff;
   width: 38px;
   height: 0px;
   border: 1px solid #fff;
}
.burger .line2 {
   background-color: #fff;
   width: 30.5px;
   height: 0px;
   border: 1px solid #fff;
}
.burger .line3 {
   background-color: #fff;
   width: 22.5px;
   height: 0px;
   border: 1px solid #fff;
}
.hover:hover .line1,
.hover:hover .line2,
.hover:hover .line3 {
   width: 38px;
}
.change .line1 {
   width: 38px;
   transform: rotate(45deg);
}
.change .line2 {
   width: 5px;
   transform: rotate(-45deg) translate(15px, -20px);
}
.change:hover .line2 {
   width: 19px;
   transform: rotate(-45deg) translate(12px, -16px);
}
.change .line3 {
   width: 19px;
   transform: rotate(-45deg) translate(4px, -26px);
}
.navbar__side {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-end;
}
.first .bg-text {
   display: flex;
   font-family: TTNorms-Bold;
   font-style: normal;
   font-weight: bold;
   font-size: 120px;
   line-height: 142px;
   align-items: center;
   justify-content: flex-end;
   margin-top: 48px;
   color: #fff;
   opacity: 0.3;
}
.logo img {
   margin-top: 74px;
}
.phrase h3 {
   font-family: TTNorms-Regular;
   font-style: normal;
   font-weight: normal;
   font-size: 40px;
   line-height: 47px;
   margin-top: 74px;
}
button {
   font-family: TTNorms-Regular !important;
   font-style: normal !important;
   font-weight: normal !important;
   font-size: 24px;
   line-height: 28px;
   padding: 20px 16px;
   border: none;
   background: transparent;
   color: #fff;
   border-bottom: 2px solid #fff;
   border-left: 2px solid #fff;
   position: relative;
   min-width: 195.5px;
   margin-top: 68px !important;
}
button:hover {
   color: #000;
   background-color: #fff;
   transition: all 0.5s;
}
button::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   height: 2px;
   width: 80%;
   background: #fff;
   transition: all 0.3s;
}
button::before {
   content: "";
   position: absolute;
   right: 0;
   bottom: 0;
   height: 50%;
   width: 2px;
   background: #fff;
   transition: all 0.3s;
}
button:hover::before {
   height: 100%;
}
button:hover::after {
   width: 100%;
}
.foot .vector {
   cursor: pointer;
   font-family: TTNorms-Regular;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 28px;
   text-align: center;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: flex-start;
}
.foot .vector h3 {
   margin-top: 88px;
}
.down h3 {
   font-family: TTNorms-Regular;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 28px;
   margin-top: 67px;
}
.networks {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: flex-end;
   padding-bottom: 5px;
}
.networks__links {
   padding-right: 0 !important;
   padding-left: 85px !important;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;
}
.networks__links a {
   margin: 9px 0 9px 0;
   font-size: 20px;
   color: #ffffff;
}
.networks .vector {
   background-color: #fff;
   width: 0px;
   height: 148px;
   border: 1px solid #fff;
}
.networks h3 {
   transform: rotate(-90deg) translate(100px, 43px);
   font-family: TTNorms-Regular;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 28px;
}
