@font-face {
   font-family: TTNorms-Black;
   src: url("fonts/TTNorms-Black.ttf");
}
@font-face {
   font-family: TTNorms-BlackItalic;
   src: url("fonts/TTNorms-BlackItalic.ttf");
}
@font-face {
   font-family: TTNorms-Bold;
   src: url("fonts/TTNorms-Bold.ttf");
}
@font-face {
   font-family: TTNorms-BoldItalic;
   src: url("fonts/TTNorms-BoldItalic.ttf");
}
@font-face {
   font-family: TTNorms-ExtraBold;
   src: url("fonts/TTNorms-ExtraBold.ttf");
}
@font-face {
   font-family: TTNorms-ExtraBoldItalic;
   src: url("fonts/TTNorms-ExtraBoldItalic.ttf");
}
@font-face {
   font-family: TTNorms-ExtraLight;
   src: url("fonts/TTNorms-ExtraLight.ttf");
}
@font-face {
   font-family: TTNorms-ExtraLightItalic;
   src: url("fonts/TTNorms-ExtraLightItalic.ttf");
}
@font-face {
   font-family: TTNorms-Heavy;
   src: url("fonts/TTNorms-Heavy.ttf");
}
@font-face {
   font-family: TTNorms-HeavyItalic;
   src: url("fonts/TTNorms-HeavyItalic.ttf");
}
@font-face {
   font-family: TTNorms-Italic;
   src: url("fonts/TTNorms-Italic.ttf");
}
@font-face {
   font-family: TTNorms-Light;
   src: url("fonts/TTNorms-Light.ttf");
}
@font-face {
   font-family: TTNorms-LightItalic;
   src: url("fonts/TTNorms-LightItalic.ttf");
}
@font-face {
   font-family: TTNorms-Medium;
   src: url("fonts/TTNorms-Medium.ttf");
}
@font-face {
   font-family: TTNorms-MediumItalic;
   src: url("fonts/TTNorms-MediumItalic.ttf");
}
@font-face {
   font-family: TTNorms-Regular;
   src: url("fonts/TTNorms-Regular.ttf");
}
@font-face {
   font-family: TTNorms-Thin;
   src: url("fonts/TTNorms-Thin.ttf");
}
@font-face {
   font-family: TTNorms-ThinItalic;
   src: url("fonts/TTNorms-ThinItalic.ttf");
}
