@import "fonts";
body {
   font-size: 20px;
   height: 100%;
}
section {
   height: 100vh;
}
a {
   text-decoration: none;
   cursor: pointer;
}

@import "first";
@import "second";
@import "third";
@import "fourth";
